KODA_POSTGRES_DB=koda_platform
KODA_POSTGRES_USER=koda
KODA_POSTGRES_PASSWORD=koda_dev_password
KODA_POSTGRES_PORT=5432
KODA_API_PORT=8080
KODA_WEB_PORT=5173
KODA_JWT_ISSUER=koda-platform
KODA_JWT_SECRET=
KODA_ACCESS_TOKEN_TTL=15m
KODA_REFRESH_TOKEN_TTL=30d
KODA_BOOTSTRAP_OWNER_EMAIL=
KODA_BOOTSTRAP_OWNER_PASSWORD=
KODA_BOOTSTRAP_OWNER_DISPLAY_NAME=KODA Owner
KODA_BOOTSTRAP_TENANT_ID=00000000-0000-4000-8000-000000000001
